body{
    background-color: blanchedalmond;
}
h1{
    font-family: 'Roboto','Arial';
    text-align: center;
    padding:50px;
    font-size:3em;
    letter-spacing: 3px;
    text-transform:uppercase;    
}
nav a{
    display:block;
    width:200px;
    background-color: hsl(183, 66%, 26%);
    color:white;
    margin: 10px auto;
    min-height: 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    padding:7px 5px 0px;
    border:2px solid hsl(183, 66%, 26%);
}
nav a:hover{
    background-color: hsl(183, 66%, 36%);
    border:2px solid white;
}
